body{
    background-image: url("./img/background.jpg");
    background-size: cover;
}

@keyframes background {
    0% {background-position-x: left;}
    100% {background-position-x: 200%;}
}

#game  {
    position: relative;
    width: 600px;
    height: 600px;

    margin: auto;

    background-image: url("./img/game-background.webp");

    animation-name: background;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#game-start{
    color: red;
}

#player{
    position: absolute;
    width: 100px;

    top: 100px;
    left: 100px;
}

.debug{
    border: 1px solid red;
}